@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
:root {
  --main-color: #cd9f6e;
  --secondary-color: #a8466c;
  --active-color: #8288e3;
  --color-common: #d4d4d4;
  --color-rare: #47a0ff;
  --color-epic: #9e6ff6;
  --color-legendary: #ffb520;
  --color-error: rgb(216, 81, 81);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

i {
  height: 10rem;
  width: 10rem;
}
.addContainer {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 16px 0px;
}
#mainInput {
  max-width: 16rem;
  padding: 1rem;
}
#mainInput::placeholder {
  color: white;
}
#raritySelect {
  height: 3rem;
}
option[value="common"] {
  color: var(--color-common);
}
option[value="rare"] {
  color: var(--color-rare);
}
option[value="epic"] {
  color: var(--color-epic);
}
option[value="legendary"] {
  color: var(--color-legendary);
}
#entriesContainer {
  width: 100%;
  height: fit-content;
  max-height: 73vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.2rem 0.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li:first-child {
  position: sticky;
  top: -1.2rem;
  font-size: 1.5rem;
  width: calc(100% + 1.2rem);
  background-color: var(--main-color);
  text-align: center;
  z-index: 20;
  /* box-shadow: 0 8px 6px -6px black; */
}
.entry {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  position: relative;
  user-select: none;
}
.entry:hover {
  background-color: var(--color-error);
}
.entry:hover::after {
  content: "X";
  right: 0.8rem;
  position: absolute;
}
.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  width: 20rem;
  padding: 0 2rem;
}

#buttonContainer {
  width: 320px;
  max-width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.look3d {
  outline: none;
  cursor: pointer;
  font-family: "Bungee", cursive;
  border: 2px solid var(--secondary-color);
  background: var(--main-color);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 6px 6px 0px var(--secondary-color);
}
button {
  user-select: none;
  width: 150px;
  height: 80px;
  font-size: 30pt;
  line-height: 100%;
  padding: 0;
}

#pickBtn {
  display: none;

  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

button:hover {
  background: var(--active-color);
}

button:active {
  background: var(--active-color);
  box-shadow: none;
  transform: translate(0.2em, 0.2em);
}

.UI {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.gambleContainer {
  position: fixed;
  pointer-events: auto;
  display: grid;
  grid-template-rows: 1fr 100px;
  place-items: center;
  width: 100%;
  height: 100vh;
}
#mainContainer {
  position: absolute;
  left: 25px;
  top: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.topContainer {
  display: flex;
  align-items: center;
}
#lastPicked {
  position: relative;
  width: 200px;
  height: 60px;

  margin: 0 10px;

  font-size: 20px;
}

#revertLastPicked {
  display: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

#name {
  font-size: 2.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  width: 20rem;
  padding: 0 2rem;
}
#rarity {
  font-size: 1.5rem;
}
.display {
  display: flex;
  font-family: "Bungee", cursive;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.7;
  margin: 10px 0;
  color: white;
  width: 300px;
  height: 300px;
  opacity: 0;
  overflow-wrap: break-word;
  border-radius: 50%;
  border: #000 solid 2px;
}

@keyframes flip {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0) scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: rotateY(1800deg);
    -moz-transform: rotateY(1800deg);
    transform: rotateY(1800deg) scale(1);
    opacity: 1;
  }
}

@keyframes blubb {
  from {
    box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.7),
      0px 0px 100px 16px var(--shadow-color);
  }
  to {
    box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.7),
      0px 0px 100px 16px var(--shadow-color-big);
  }
}

.common {
  background-color: var(--color-common);
  --shadow-color: rgba(252, 252, 252, 0);
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.3),
    0px 0px 100px 16px var(--shadow-color);
}
.rare {
  background-color: var(--color-rare);
  --shadow-color: rgba(19, 29, 138, 0);
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.3),
    0px 0px 100px 16px var(--shadow-color);
}
.epic {
  background-color: var(--color-epic);
  --shadow-color: rgba(88, 61, 139, 0);
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.3),
    0px 0px 100px 16px var(--shadow-color);
}
.legendary {
  background-color: var(--color-legendary);
  --shadow-color: rgba(233, 151, 0, 0);
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.3),
    0px 0px 100px 16px var(--shadow-color);
}
.animate {
  opacity: 0;
  -webkit-animation: flip 2s ease-out forwards 0.7s;
  -moz-animation: flip 2s ease-out forwards 0.7s;
  -o-animation: flip 2s ease-out forwards 0.7s;
  animation: flip 2s ease-out forwards 0.7s,
    blubb 2s ease infinite alternate 2.5s;
}
.potato {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 2rem;
}
.github {
  height: 3.75rem;
  padding: 1rem;
  text-decoration: none;
  position: absolute;
  left: 25px;
  bottom: 15px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  right: 25px;
  bottom: 15px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.settings img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(98%) sepia(4%) saturate(709%) hue-rotate(188deg)
    brightness(119%) contrast(100%);
}

#settingsDialog {
  width: 50%;
  margin: auto;
}
.dialogContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#configContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rarityConfig {
  font-size: 1.4rem;
}
.commonColor {
  color: var(--color-common);
}
.rareColor {
  color: var(--color-rare);
}
.epicColor {
  color: var(--color-epic);
}
.legendaryColor {
  color: var(--color-legendary);
}
#dialogTitle {
  font-size: 2.5rem;
  margin: 0 auto;
  width: fit-content;
}
#settingsDialog::backdrop {
  background-image: linear-gradient(
    45deg,
    rgba(255, 0, 255, 0.3),
    rgba(102, 51, 153, 0.3),
    rgba(30, 143, 255, 0.3),
    rgba(0, 128, 0, 0.3)
  );

  /* opacity: 0.75; */
  backdrop-filter: blur(20px);
}
#c-1-color {
  background: var(--color-common);
}
#c-2-color {
  background: var(--color-rare);
}
#c-3-color {
  background: var(--color-epic);
}
#c-4-color {
  background: var(--color-legendary);
}

#dialogClose {
  right: 1rem;
  top: 0.5rem;
  background-color: var(--color-error);
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  font-size: 1rem;
}

.active {
  background: var(--active-color);
  box-shadow: none;
  transform: translate(0.2em, 0.2em);
}

.lowSpecVideo {
  display: block;
  background-image: url("../assets/potato/idle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;

  position: absolute;
  object-fit: cover;
}
#manualAddContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.5rem;
}
#addSelection {
  width: 35.5px;
  height: 35.5px;
  border-radius: 0 10px 10px 0;
  margin-left: -2px;
  user-select: none;
}

#addEntryButton {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addEmployeeDropdown {
  width: 220px;

  outline: none;
  cursor: pointer;
  font-family: "Bungee", cursive;
  border: 2px solid var(--secondary-color);
  background: var(--main-color);
  color: white;
  border-radius: 10px 0 0 10px;
  font-weight: 600;
  box-shadow: 6px 6px 0px var(--secondary-color);
  line-height: 100%;
  padding: 0.5rem;
}

option {
  font-size: 1rem;
}
#clearEntryButton {
  font-size: 1rem;
  width: fit-content;
  padding: 0 1rem;
  transform: translateY(-5px);
  margin-left: 0.2rem;
  background-color: var(--color-error);
  height: 2rem;
  margin: 1rem 0;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
